/*
@keyframes rotate {
	0% { transform: rotate(0deg) scale(1.25); }
	8.333% { transform: rotate(30deg) scale(1.50); }
	16.667% { transform: rotate(60deg) scale(1.25); }
	25% { transform: rotate(90deg) scale(1.50); }
	33.333% { transform: rotate(120deg) scale(1.25); }
	41.667% { transform: rotate(150deg) scale(1.50); }
	50% { transform: rotate(180deg) scale(1.25); }
	58.333% { transform: rotate(210deg) scale(1.50); }
	66.667% { transform: rotate(240deg) scale(1.25); }
	75% { transform: rotate(270deg) scale(1.50); }
	83.333% { transform: rotate(300deg) scale(1.25); }
	91.667% { transform: rotate(330deg) scale(1.50); }
	100% { transform: rotate(360deg) scale(1.25); }
}
*/

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowpulsate {
  0% {
    text-shadow: none;
  }
  50% {
    //text-shadow: $glow-effect;
  }
}
@keyframes glowpulsate-rev {
  0% {
    //text-shadow: $glow-effect;
  }
  50% {
    text-shadow: 0;
  }
}
@keyframes wipeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes wipeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
