.controls {
  position: fixed;
  top: 0;
  right: 1rem;
  .underlay,
  .overlay {
    position: fixed;
  }
  .underlay {
    transition: color 5s;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .overlay {
    transition: opacity 0.5s;
    opacity: 0;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    .kr-portrait {
      height: 340px;
      margin: 1rem;
    }
  }
  @include media(773px) {
    .overlay {
      top: 8%;
      .kr-portrait {
        height: 220px;
      }
    }
  }
  @include media(736px) {
    .overlay {
      top: 8%;
      .kr-portrait {
        height: 220px;
        margin: 1rem;
      }
    }
  }
  @include media(667px) {
    .overlay {
      top: 4%;
    }
  }
  @include media(568px) {
    .overlay {
      .kr-portrait {
        height: 180px;
      }
    }
  }
  @include media(542px) {
    .overlay {
      top: 18%;
      .kr-portrait {
        height: 280px;
        margin: 1rem;
      }
    }
  }
  @include media(480px) {
    .overlay {
      .kr-portrait {
        height: 240px;
        margin: 1rem;
      }
    }
  }
  @include media(375px) {
    .overlay {
      .kr-portrait {
        height: 220px;
        margin: 1rem;
      }
    }
  }
  @include media(320px) {
    .overlay {
      top: 15%;
      .kr-portrait {
        height: 180px;
        margin: 1rem;
      }
    }
  }
  .nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9;
    span {
      &,
      &:before,
      &:after {
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
    }
  }
  &.active {
    z-index: 3;
    .overlay {
      opacity: 1;
    }
    .nav-toggle {
      span {
        background-color: transparent;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before,
        &:after {
          top: 0;
        }
      }
    }
  }
  ul {
    opacity: 0;
    transform: translateY(-40px);
    position: fixed;
    left: 0;
    top: 1em;
    // width: 85%;
    &.active {
      animation: wipeIn 0.4s forwards;
    }
    &.inactive {
      animation: wipeOut 0.4s forwards;
    }
    li {
      display: inline;
      margin: 0 3rem;
      @include media(small-only) {
        display: block;
        text-align: left;
      }
    }
  }
}
