/* FONTS */

@font-face {
  font-family: 'arial_blackregular';
  src: url('../fonts/arial_black-webfont.eot');
  src: url('../fonts/arial_black-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/arial_black-webfont.woff') format('woff'),
    url('../fonts/arial_black-webfont.ttf')
      format('truetype'),
    url('../fonts/arial_black-webfont.svg#arial_blackregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?w4q9dk');
  src: url('../fonts/icomoon.eot?w4q9dk#iefix')
      format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w4q9dk') format('truetype'),
    url('../fonts/icomoon.woff?w4q9dk') format('woff'),
    url('../fonts/icomoon.svg?w4q9dk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
