.container {
  padding: 1em;
  .login-form {
    background-color: $underlay_color;
    padding: 1em 1em;
    label {
      width: 5em;
      display: inline-block;
    }
    .form-component {
      padding: 0.5em 0;
    }
  }
}
.app-controls {
  padding: 1em;
}
#links-container {
  li {
    padding: 0.1em;
  }
}
.linkdescription {
  // display: none;
  background-color: $theme_light_underlay;
  color: $theme_light_caption;
  font-size: 0.8em;
  text-align: left;
  //width: 85%;
  padding: 0em 3em 0em 1.5em;
  margin: 0em -0.5em 0em -0.5em;
  //margin-left: auto;
  //margin-right: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition: all 0.75s;
  //padding: 0;
  //border-left: 1px solid;
  //border-right: 1px solid;
  border-bottom: 1px solid;
  //border-radius: 0.5em;
  &.reveal {
    max-height: 800px;
    opacity: 1;
    overflow: visible;
    padding: 0.5em 3em 0.5em 1.5em;
    margin: 0.25em -0.5em 0.5em -0.5em;
    //width: 102%;
  }
}
.hidedescription {
  color: $link_orange;
  cursor: pointer;
  float: right;
  position: relative;
  right: -2em;
}
.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  //box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  //box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

/*
.header {
  text-align: center;
  font-size: 175%;
  //color: #fff;
  text-shadow: 0 2px 2px #000;
}
*/

body {
  //background-image: url("../img/stars3.jpg");
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-color: $body-background-color;
}

.logo {
  width: 46%;
  padding: 0.5em 1.5em;
}

.front {
  background-color: $underlay_color;
  text-align: center;
  //color: #fff;
  @include text-shadow(1px, 1px, 1px, #000);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  //position: relative;
  //top: 50%;
  //transform: translateY(-50%);
  h1 {
    font-weight: normal;
  }
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.link-padding {
  padding: 0.5em 0;
}
.brand-title {
  background-color: $semitransparent_white;
  padding: 0.25em 0 0.1em;
  margin: 0;
}
.overlay-heading {
  background-color: $semitransparent_white;
  margin: 0.2em 0;
  padding: 0.1em 0;
}
.social-links {
  margin: 0;
  background-color: $semitransparent_white;
  padding: 0.4em 0 0.2em 0;
  a {
    margin: 0 0.25em;
    font-size: 1.2em;
  }
  ul {
    li {
      display: inline;
    }
  }
}

.inline-icon {
  padding-left: 0.3em;
}

.spinner {
  text-align: center;
  font-size: 2em;
  padding: 0.5em 0;
  animation: rotate 2s infinite linear;
  width: 2em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video-background__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nav {
  background-color: $theme_light_underlay;
  color: $theme_light_caption;
  @include text-shadow(1px, 1px, 1px, #000);
  height: 1.5em;
  padding: 0.2em 0.5em;
  .ctl,
  .copyright {
    float: right;
    margin-left: 0.5em;
  }
}
.svg-sprites {
  height: 0;
  width: 0;
}
.kr-monogram {
  text-align: center;
}
use.sprite__monogram {
  fill: $theme_light_body;
  filter: url("#drop-shadow");
}
#image-gallery-container {
  width: 100%;
  background-color: $theme_light_underlay;
  padding: 1em 0;
}
#image-gallery-container .image-gallery {
  width: 75%;
  margin: 1em auto;
}
#oe-code-samples {
  padding: 1em 0;
}
